*{
    margin: 0;
    padding: 0;
}
.plant{
    display: grid;
    grid-template-rows: 1fr repeat(3,0.1fr);
}
.plant_img{
    overflow: hidden;
}
.plant_slider{ 
    height: 100%;
    display: flex;
    transition:margin 0.5s ease-in-out;
}
.hide{
    display: none;
}
.show{
    display: block;
}
#addPlant fieldset{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
h3{
    font-size: 1rem;
}
.plant_price{
    font-style: italic;
    font-size: 1.1em;
    text-align: right;
}
.plant_pots{
    color: gray;
}
header,main{
    padding: 0 10%;
}
#items{
    display: grid;
    grid-gap: 20px;
    padding: 20px;
}
.grid-view{
    grid-template-columns: repeat(4,1fr);
}
.grid-view .plant .plant_pots{
    display: none;
}
.list-view .plant{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    text-indent: 10px;
}
.list-view .plant_img{
    flex-shrink: 1;
    height: 150px;
    width:150px;
}
.list-view .color-choice{
    display: none;
}
.list-view .plant .plant_pots{
    display: inline;
}
.plant img{
    display: block;
    width: 100%;
    height: 100%;
}
.color-choice{
    display: flex;
    justify-content:space-between;
    margin: 10px 0;
}
.color-choice input{
    display: none;
}
.color-choice label{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
}
.color-choice input:checked+label{
    transform: scale(1.4);
}
@media (max-width:350px){
    .grid-view{
        grid-template-columns: 1fr;
    }
    .list-view .plant_img{
        height: 100px;
        width: 100px;
    }
}
@media (min-width:350px)and (max-width:550px){
    .grid-view{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:550px) and (max-width:780px){
    .grid-view{
        grid-template-columns: repeat(3,1fr);
    }
}
.list-view{
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
}